@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Create Role";
}
<h3> Thêm Role</h3>
<div class="col-md-6">
    <form asp-area="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Tên Role</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class=" text-danger" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Thêm Role </button>
        </div>
    </form>
    <a asp-action="Index" class="btn btn-danger">Trở lại trang Role </a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

