@{
    ViewData["Title"] = "Not Found 404";
}

<div class="error-container">
    <h1>This page is 404 not found</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9jeJAhHcXdxQ3yO5n_6E6bHAPCWstUX42PQ&s" class="error-icon"/> 
</div>